terraform {
  # backend の設定では variable を使えないので直書きする
  backend "s3" {
    region         = "ap-northeast-1"
    bucket         = "your-management-bucket"
    key            = "terraform/nuxt-serverless-app.tfstate"
    dynamodb_table = "terraform-state-lock"
  }
}

module terraform-state {
  source = "../modules/terraform-state"
  bucket_name = "your-management-bucket"
  tags = {
    Service = "nuxt-serverless-app"
    Environment = "production"
  }
}
